/* Section Cart */
.sectionCart{
	position: absolute;
	font: 1em Tahoma;
	line-height: 1.4;
	margin: 2% 0 0 22%;
}

table {
	width: 600px;
	border: 2px solid black;
	border-collapse: collapse;
}
thead td, tfoot td {
	border: 2px solid black;
}

td {
	
	border: 1px solid black;
}

.wrapper-fluid .main-footer{
	position: relative;
	padding-top: 10em;
}