/*
==============================
1. Reset browser styles
==============================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset browser styles */



/* HEADER: LOGO */
.headerLogo{
	width: 100%;
	height: 10em;
}

	.headerLogo img{
		display: block;
		margin: 0 auto;
	}
	
	/* Gradient line under the logotype */
	.headerLogo hr{
		height: 1px;
		background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(166,166,166,0.52) 48%, rgba(255,255,255,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(48%,rgba(166,166,166,0.52)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(166,166,166,0.52) 48%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(166,166,166,0.52) 48%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(166,166,166,0.52) 48%,rgba(255,255,255,0) 100%); /* IE10+ */
		background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(166,166,166,0.52) 48%,rgba(255,255,255,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
	}

/* END  HEADER: LOGO */

/* SECTION SIGN IN FORM */
.sectionSign{
	width: 100%;
	height: auto; /* test size */
	text-align: center;
	margin-bottom: 5em;
}
	
	/* text login form */
	.sectionSign h3{
		margin-top: 5em;
		font-family: Tahoma;
	}
	
	/* Size form & btn */
	input#inputEmail.form-control,
	input#inputPassword.form-control,
	button.btn.btn-lg.btn-primary.btn-block{
		width: 300px;
		height: 44px;
		margin: 0 auto;
	}
	
	/* Border & bg clr,  angle*/
	input#inputEmail.form-control,
	button.btn.btn-lg.btn-primary.btn-block#sig{
		position: relative;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		margin-bottom: -1px;
	}
	
	input#inputPassword.form-control,
	button.btn.btn-lg.btn-primary.btn-block#reg{	
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}
	
	button.btn.btn-lg.btn-primary.btn-block{
		background-color: #333;
		border-color: white;
	}

/* END SECTION SIGN IN FORM */

/* FOOTER */
.footerLogin{
	width: 100%;
	height: 100%;
}
	
	/* Test line */
	.footerLogin hr{
		height: 1px;
		background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(166,166,166,0.52) 48%, rgba(255,255,255,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(48%,rgba(166,166,166,0.52)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(166,166,166,0.52) 48%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(166,166,166,0.52) 48%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(166,166,166,0.52) 48%,rgba(255,255,255,0) 100%); /* IE10+ */
		background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(166,166,166,0.52) 48%,rgba(255,255,255,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
	}

/* END FOOTER */